* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --blue-btn: #1992d4;
    --hover-blue: #1783bd;
    --red-btn: rgb(255, 65, 65);
    --hover-red: rgb(212, 40, 40);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60vw;
    margin-top: 10vh;
}

.container > p {
    font-size: 64px;
}

form,
.book-row {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.submit-btn {
    align-self: self-end;
    justify-self: end;
}
.submit-btn > button {
    width: 100px;
    padding: 11px 20px;
    font-size: 14px;
    background-color: var(--blue-btn);
    color: white;
    border: 0;
    border-radius: 5px;
}
.submit-btn > button:hover {
    background-color: var(--hover-blue);
    cursor: pointer;
}

input,
select {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}
select {
    -webkit-appearance: none;
}

.book-row {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.book-row > div {
    display: flex;
    align-self: center;
    padding: 10px;
}

.delete-btn {
    width: 100px;
    justify-self: end;
    padding: 11px 20px;
    font-size: 14px;
    background-color: var(--red-btn);
    color: white;
    border: 0;
    border-radius: 5px;
}
.delete-btn:hover {
    background-color: var(--hover-red);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    form,
    .book-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}